*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.page-wrapper {
    height: 100%;
    min-height: 100vh;
    background: url('./background.jpg') fixed;
    background-size: 100vw;
    line-height: 1;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}
.logo,
.categories-menu,
.categories-list,
.search-bar,
.quiz-button,
.sign-in-button,
.block-image {
    user-select: none;
}
.header,
.header-mobile {
    align-items: center;
    background-color: rgb(24, 27, 24);
    cursor: default;
    height: 4.2rem;
    justify-content: center;
    position: sticky;
    top: 0;
    min-width: 100%;
}
.header {
    border-bottom: 2px solid #fff;
    font-size: 110%;
    display: grid;
    grid-template-areas:
        'logo search categories contacts quiz sign-in';
    grid-template-columns: 15% 27% 15% 15% 20% 13%;
    justify-items: center;
}
.header>.contacts  {
    font-size: 95%;
}
.header-mobile {
    display: none;
}
.mob-menu {
    grid-area: mobmenu;
    position: absolute;
}
.mob-menu-icon {
    width: 40px;
    height: 40px;
}
.mob-menu:hover>ul {
    display: initial;
}
.mob-menu-list,
.mob-menu-categories-list {
    background-color: rgb(24, 27, 24);
    border: 2px solid #FFF;
    border-radius: 10px;
    display: none;
    list-style: none;
    position: absolute;
}
.mob-menu-list {
    font-size: 140%;
    min-height: 100%;
    min-width: 170px;
    width: 250px;
    margin-top: 130%;
    padding: 10px;
    right: -127%;
    line-height: 1.7;
}
.mob.quiz-btn {
    line-height: 1.5;
    height: 50px;
}
.mob-menu-categories:hover>ul {
    display: initial;
}
.mob-menu-list a {
    text-decoration: none;
    color: #fff;
}
.mob-menu-categories-list {
    min-height: 100px;
    max-height: 100%;
    min-width: 190px;
    padding: 10px;
    right: 100%;
    line-height: 1.7;
}
.logo,
.moblogo {
    grid-area: logo;
    width: 3.2rem;
    height: 3.2rem;
    border: 2px solid #fff;
    border-radius: 50%;
}
.logo {
    margin-top: 2px;
}
.logo:hover {
    border: 3px solid rgb(197, 156, 69);
    cursor: pointer;
    transition: .1s;
    transform: scale(1.1);
}
.logo:active {
    border: 3px solid rgb(120, 96, 50);
}
.categories-menu {
    grid-area: categories;
    position: absolute;
    font-size: 110%;
}
.categories-menu:hover {
    color: rgb(197, 156, 69);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    justify-items: center;
}
.categories-menu:hover>ul {
    display: initial;
}
.categories-list {
    background-color: rgb(24, 27, 24);
    display: none;
    position: absolute;
    min-width: 100%;
    margin: 27% 0 0 -86%;
    padding: 5px 15% 5px 10%;
    border: 2px solid #FFF;
    border-radius: 5%;
    list-style: none;
}
.categories-list a {
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}
.categories-list a:hover {
    color: rgb(197, 156, 69);
}
.categories-list a:active {
    color: rgb(120, 96, 50);
}
.search-bar {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    grid: search;
    padding: 5px 5px 5px 10px;
    height: 45%;
    display: flex;
    justify-content: center;
    justify-self: left;
    width: 80%;
}
.search-bar img {
    width: 20px;
    height: 20px;
    cursor: default;
}
.search-bar button {
    padding-right: 2px;
    cursor: pointer;
    border: 0;
    background-color: #fff;
}
.search-bar input {
    color: #000;
    background: transparent;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 105%;
}
.search-bar:hover {
    border: 2px solid rgb(197, 156, 69);
}
.quiz-button {
    grid-area: quiz;
    cursor: pointer;
    line-height: 1.1;
}
.quiz-button:hover {
    color: rgb(197, 156, 69);
}
.quiz-button:active {
    color: rgb(120, 96, 50);
}
.contacts {
    grid-area: contacts;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
}
.contacts span {
    user-select: none;
}
.sign-in-button {
    grid-area: sign-in;
    list-style: none;
    line-height: 1.3;
}
.sign-in-button a {
    text-decoration: none;
    color: #fff;
}
.sign-in-button a:hover {
    color: rgb(197, 156, 69);
    cursor: pointer;
}
.sign-in-button a:active {
    color: rgb(120, 96, 50);
}
.sign-in-form {
    font-size: 110%;
    padding: 15px;
    background: rgb(24, 27, 24);
    border: solid 1px #fff;
    border-radius: 15px;
    min-width: 100%;
    min-height: 100%;
    color: rgb(197, 156, 69);
}
.sign-in-form:hover {
    box-shadow: -2px 5px 5px #000;
    border: 1px solid rgb(56, 50, 50);
}
.sign-in-form input {
    font-size: 90%;
    padding-left: 5px;
    margin: 10px 0;
    border-radius: 10px;
}
.sign-in-btn {
    background-color: rgb(24, 27, 24);
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 1%;
    margin-top: 10px;
    width: 35%;
    height: 15%;
    font-size: 90%;
}
.sign-in-btn:hover {
    color: rgb(197, 156, 69);
    border: 1px solid rgb(197, 156, 69);
}
.sign-in-btn:active {
    color: rgb(120, 96, 50);
    border: 1px solid rgb(120, 96, 50);
}
.block-container {
    max-width: 80%;
    padding: 1%;
    margin: 0 auto;
    background: rgb(197, 156, 69);
    min-height: 100vh;
}
.block-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.block {
    padding: 10px;
    background-color: rgb(24, 27, 24);
    max-width: 32%;
    height: 18.7rem;
    border: 1px solid #fff;
    float: left;
    margin: 0.6%;
    border-radius: 15px;
    box-shadow: -2px 4px 5px #000;
    cursor: default;
}
.block p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    font-size: 120%;
    line-height: 1.25;
}
.block:hover {
    padding: 7px 10px;
    box-shadow: -2px 5px 5px #000;
    border: 1px solid rgb(56, 50, 50);
}
.block-title {
    display: block;
    font-size: 150%;
    margin: 10px 0px 10px 5px;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    width: fit-content;
}
.block-title:hover {
    color: rgb(197, 156, 69);
}
.block-title:active {
    color: rgb(120, 96, 50);
}
.block-categories {
    display: inline-block;
    background-color: grey;
    border-radius: 20px;
    border: 1px solid rgb(56, 50, 50);
    height: 20px;
    max-width: 150px;
    padding: 3px 5px 22px 5px;
    margin: 5px 5px 10px 5px;
    overflow: hidden;
    font-size: 120%;
}
.block-categories:hover {
    color: rgb(197, 156, 69);
    cursor: pointer;
}
.block-categories:active {
    color: rgb(120, 96, 50);
}
.block-image {
    width: 150px;
    height: 150px;
    border: 1px solid #FFF;
    float: left;
    border-radius: 50%;
    margin: 5px 12px 5px 5px;
}
.paginator ul {
    padding: 10px;
    color: rgb(24, 27, 24);
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 120%;
}
.paginator ul,
a {
    color: rgb(24, 27, 24);
    text-decoration: none;
    list-style: none;
}
.paginator li {
    padding: 5px 15px;
    cursor: pointer;
}
.paginator li:hover,
a:hover {
    color: rgb(120, 96, 50);
}
.paginator li:active,
a:active {
    color: #000;
}
.page-num-page-num-selected {
    color: #fff;
}
.footer {
    background-color: rgb(24, 27, 24);
    height: 4.2rem;
    min-width: 100%;
    border-top: 2px solid #fff;
    display: grid;
    grid-template-areas:
        'logo contacts channels';
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    justify-items: center;
    cursor: default;
}
.footer .contacts {
    justify-self: left;
}
.footer .contacts span {
    margin-left: 10px;
    font-size: 110%;
}
.channels {
    grid-area: channels;
}
.channels a {
    padding: 5px;
    cursor: default;
}
.channels img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.channels img:hover {
    border: 2px solid rgb(197, 156, 69);
}
.channels img:active {
    border: 3px solid rgb(120, 96, 50);
}
.quiz {
    background: rgb(197, 156, 69);
    display: none;
    margin: 0 auto;
    max-width: 80%;
    min-height: 100vh;
    height: 100%;
    padding: 20px 30px;
}
.quiz-question, .result span {
    background-color: rgb(24, 27, 24);
    border: 1px solid;
    border-radius: 20px;
    box-shadow: -2px 4px 5px #000;
    cursor: default;
    font-size: 135%;
    height: 100%;
    padding: 10px;
    width: 100%;
}
.quiz-option, .quiz-end {
    cursor: default;
    line-height: 1.1;
    list-style: none;
    user-select: none;
    width: fit-content;
    min-height: 100%;
}
.quiz-option {
    font-size: 125%;
    margin-top: 10%;
    padding: 10px;
}
.quiz-option:hover {
    color: rgb(120, 96, 50);
}
.quiz-option:active {
    color: rgb(24, 27, 24);
}
.result {
    background: rgb(197, 156, 69);
    display: none;
    margin: 0 auto;
    max-width: 80%;
    min-height: 100vh;
    padding: 20px 30px;
}
.result img {
    border: 2px solid rgb(24, 27, 24);
    border-radius: 50%;
    height: 150px;
    margin: 3% 0 0 0;
    width: 150px;
}
.quiz-end {
    align-content: center;
    font-size: 120%;
    margin-top: 1%;
    padding: 10px 0;
}
.finish-button {
    background-color: rgb(24, 27, 24);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: -2px 4px 5px #000;
    color: #fff;
    cursor: default;
    font-size: 130%;
    height: 120%;
    margin-top: 1%;
    padding: 5px;
    user-select: none;
    width: 10%;
}
.finish-button:hover {
    color: rgb(197, 156, 69);
}
.finish-button:active {
    color: rgb(120, 96, 50);
}
.adding-recipe-form {
    padding: 15px 20px;
    background: rgb(24, 27, 24);
    border: solid 1px #fff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    font-size: 110%;
}
.adding-recipe-form input {
    font-size: 80%;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 10px;
}
.adding-recipe-form input:hover {
    border: 2px solid rgb(197, 156, 69);
}
.adding-recipe-form textarea,
select {
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 90%;
}
.adding-recipe-form textarea:hover,
select:hover {
    border: 2px solid rgb(197, 156, 69);
}
.adding-recipe-form:hover {
    box-shadow: -2px 5px 5px #000;
    border: 1px solid rgb(56, 50, 50);
}
.adding-recipe-form-submit-btn {
    background-color: rgb(24, 27, 24);
    color: #fff;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 1%;
    margin-top: 10px;
    width: 20%;
    font-size: 110%;
    cursor: pointer;
}
.adding-recipe-form-submit-btn:hover {
    border: 1px solid rgb(197, 156, 69);
    color: rgb(197, 156, 69);
}
.adding-recipe-form-submit-btn:active {
    color: rgb(120, 96, 50);
    border: 1px solid rgb(120, 96, 50);
}
.sign-up-form {
    color: rgb(197, 156, 69);
    font-size: 110%;
    padding: 15px;
    background: rgb(24, 27, 24);
    border: solid 1px #fff;
    border-radius: 15px;
    min-width: fit-content;
    min-height: fit-content;
    width: 18%;
    max-height: 110%;
}
.sign-up-form:hover {
    box-shadow: -2px 5px 5px #000;
    border: 1px solid rgb(56, 50, 50);
}
.sign-up-field-title {
    padding: 1%;
}
.sign-up-field-title input {
    font-size: 90%;
    margin: 10px 0;
    padding-left: 5px;
    border-radius: 10px;
    padding: 0 5px;
    width: 100%;
}
.sign-up-btn {
    background-color: rgb(24, 27, 24);
    color: #fff;
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 1%;
    margin-top: 10px;
    width: 100%;
    height: 12%;
    font-size: 90%;
    cursor: pointer;
}
.sign-up-btn:hover {
    color: rgb(197, 156, 69);
    border: 1px solid rgb(197, 156, 69);
}
.sign-up-btn:active {
    color: rgb(120, 96, 50);
    border: 1px solid rgb(120, 96, 50);
}
.recipe-container {
    padding: 10px 15px 25px 20px;
    background-color: rgb(24, 27, 24);
    min-width: 100%;
    min-height: 100%;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: default;
    font-size: 115%;
    line-height: 1.4;
}
.recipe-categories {
    background-color: grey;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 0px 10px 28px 10px;
    margin: 5px 5px 10px 10px;
    overflow: hidden;
    max-width: fit-content;
    max-height: 15px;
    font-size: 120%;
    float: left;
}
.recipe-title {
    margin: 10px;
}
.recipe-image {
    max-width: 300px;
    max-height: 300px;
    clear: both;
}
.recipe-image img {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #fff;
    border-radius: 10%;
    margin: 4% 2%;
}
.recipe-text {
    margin: 3% 1%;
}
.recipe-text h3 {
    margin: 1% 0;
    padding: 1rem 2px;
}
@media (max-width: 1600px) {
    .header {
        grid-template-columns: 10% 25% 10% 15% 28% 12%;
    }
    .search-bar {
        width: 80%;
        height: 45%;
    }
    .categories-menu:hover {
        padding: 10px;
    }
    .categories-list {
        margin: 27% 0 0 -90%;
    }
    .block-container,
    .quiz,
    .result {
        padding: 10px 20px;
    }
    .block {
        height: 24.5rem;
        margin: 10px;
        max-width: 31%;
    }
    .block p {
        -webkit-line-clamp: 9;
    }
    .recipe-container {
        font-size: 120%;
    }
    .recipe-categories {
        font-size: 115%;
    }
    .footer {
        grid-template-columns: 10% 80% 10%;
    }
}
@media (max-width: 1400px) {
    .block-title {
        font-size: 140%;
    }
}
@media (max-width: 1369px) {
    .categories-list {
        margin: 27% 0 0 -20%;
    }
}
@media (max-width: 1350px) {
    .header {
        grid-template-columns: 10% 25% 13% 20% 20% 12%;
    }
    .block {
        height: 21.7rem;
        max-width: 31.8%;
        margin: 7.6px;
    }
    .block p {
        -webkit-line-clamp: 9;
    }
    .block-image {
        width: 120px;
        height: 120px;
    }
    .block-categories {
        margin: 0 5px 7px 0px;
    }
    .block-title {
        font-size: 130%;
        margin: 0px 0px 4px 5px;
    }
    .quiz-option {
        font-size: 130%;
    }
    .recipe-categories {
        font-size: 105%;
    }
    .result {
        padding: 30px 27px;
    }
}
@media (max-width: 1300px) {
    .header {
        font-size: 110%;
    }
    .categories-menu:hover {
        padding: 20px;
    }
    .block {
        height: 21.7rem;
        max-width: 31.85%;
        margin: 7px;
    }
    .block-title {
        font-size: 135%;
        margin: 5px 5px 10px 5px;
    }
    .block-categories {
        font-size: 115%;
    }
    .block p {
        -webkit-line-clamp: 8;
    }
    .block-image {
        width: 130px;
        height: 130px;
        border: 2px solid #FFF;
        margin-bottom: 7px;
    }
    .recipe-image img{
        border: 2px solid #FFF;
    }
    .contacts {
        line-height: 1.3;
    }
    .search-bar {
        width: 80%;
    }
    .quiz-question, .result span, .finish-button {
        font-size: 130%;
    }
    .quiz-end {
        font-size: 115%;
    }
}
@media (max-width: 1250px) {
    .categories-menu:hover {
        padding: 16.3px;
    }
    .block-container,
    .quiz {
        padding: 10px;
    }
    .block {
        height: 22.7rem;
        max-width: 32%;
        margin: 6px;
    }
    .block-image {
        width: 120px;
        height: 120px;
    }
    .block p {
        -webkit-line-clamp: 9;
    }
    .search-bar {
        width: 85%;
    }
    .footer {
        grid-template-columns: 10% 79% 11%;
    }
    .footer .contacts{
        font-size: 105%;
    }
}
@media (max-width: 1150px) {
    .header {
        grid-template-columns: 10% 20% 13% 20% 20% 17%;
    }
    .search-bar {
        width: 90%;
    }
    .search-bar input {
        font-size: 100%;
    }
    .categories-menu:hover {
        padding: 10px;
    }
    .block-image {
        width: 100px;
        height: 100px;
    }
    .block {
        max-width: 32%;
        margin: 5.4px;
    }
    .footer {
        grid-template-columns: 10% 70% 20%;
    }
    .channels span {
        margin-left: 10px;
    }
}
@media (max-width: 1050px) {
    .block {
        min-height: 23rem;
        margin: 4.9px;
    }
    .block p {
        -webkit-line-clamp: 7;
    }
    .block-image {
        width: 95px;
        height: 95px;
    }
    .quiz-question, .finish-button, .result span, .quiz-option {
        font-size: 125%;
    }
    .result img {
        margin-top: 40px;
    }
}
@media (max-width: 950px) {
    .block-container,
    .quiz {
        max-width: 100%;
    }
    .header {
        display: none;
    }
    .header-mobile {
        border-bottom: 2px solid #fff;
        display: grid;
        grid-template-areas:
            'logo search mobmenu';
        grid-template-columns: 15% 75% 10%;
    }
    .moblogo {
        margin-left: 20%;
        width: 50px;
        height: 50px;
    }
    .search-bar {
        padding-right: 10px;
        width: 45%;
        font-size: 120%;
        align-items: center;
    }
    .search-bar img {
        width: 25px;
        height: 25px;
    }
    .sign-up-form, .sign-in-form {
        font-size: 130%;
    }
    .sign-up-field-title input, .sign-in-form input {
        font-size: 100%;
        padding-left: 7px;
    }
    .sign-up-btn, .sign-in-btn {
        font-size: 100%;
    }
    .block {
        margin: 5.8px;
        border: 2px solid #fff;
    }
    .block p {
        -webkit-line-clamp: 8;
    }
    .block p,
    .block-categories {
        font-size: 135%;
    }
    .block-title {
        font-size: 145%;
    }
    .footer {
        font-size: 120%;
        grid-template-columns: 10% 70% 20%;
    }
    .channels img {
        width: 30px;
        height: 30px;
    }
    .result {
        max-width: 100%;
        font-size: 120%;
    }
    .quiz-end{
        font-size: 115%;
    }
    .quiz-option,
    .quiz-question {
        font-size: 145%;
    }
    
}
@media (max-width: 895px) {
    .mob-menu {
        font-size: 110%;
    }
    .mob-menu-list {
        right: -80%;
    }
    .block {
        height: 24.5rem;
        margin-left: 1.5%;
        min-width: 47%;
    }
    .block p {
        -webkit-line-clamp: 11;
    }
    .block-image {
        width: 115px;
        height: 115px;
    }
    .block-title {
        font-size: 160%;
    }
    .search-bar {
        height: 50%;
        font-size: 125%;
    }
    .channels {
        padding-left: 5%;
    }
    .result img {
        border: 3px solid rgb(24, 27, 24);
    }
    .result {
        padding: 30px;
        font-size: 130%;
    }
    .quiz-end {
        font-size: 110%;
    }
    .finish-button {
        width: 12%;
    }
    .quiz-question, .quiz-option {
    font-size: 150%;
    }
    .recipe-text {
        font-size: 130%;
    }
}
@media (max-width: 750px) {
    .header-mobile {
        border-bottom: 3px solid #fff;
    }
    .block-container,
    .quiz {
        padding: 5px;
    }
    .block {
        height: 25rem;
        margin-left: 1%;
        min-width: 48%;
    }
    .search-bar {
        width: 50%;
    }
    .footer {
        font-size: 105%;
        grid-template-columns: 10% 67% 23%;
    }
    .moblogo,
    .block,
    .block-image,
    .footer>.logo,
    .mob-menu-list,
    .mob-menu-categories-list {
        border: 3px solid #fff;
    }
    .finish-button {
        width: 15%;
    }
}
@media (max-width: 700px) {
    .mob-menu-list {
        right: -50%;
    }
    .search-bar {
        width: 60%;
        font-size: 140%;
    }
    .block {
        height: 29rem;
    }
    .block p {
        -webkit-line-clamp: 8;
        font-size: 140%;
    }
    .block-image {
        width: 125px;
        height: 125px;
    }
    .channels img {
        width: 35px;
        height: 35px;
    }
    .channels a {
        padding: 10px;
    }
    .footer {
        height: 8rem;
        grid-template-columns: 20% 45% 35%;
    }
    .footer .logo {
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer>.contacts span {
        font-size: 120%;
        display: flow-root;
    }
    .finish-button {
        width: 17%;
        font-size: 120%;
    }
}
@media (max-width: 600px) {
    .header-mobile {
        grid-template-columns: 20% 65% 15%;
    }
    .search-bar {
        width: 70%;
    }
    .block {
        margin: 2% 4%;
        min-width: 92%;
        height: 28rem;
    }
    .block p {
        -webkit-line-clamp: 12;
        font-size: 145%;
        line-height: 1.2;
    }
    .block-title {
        font-size: 185%;
    }
    .block-image {
        width: 150px;
        height: 150px;
    }
    .block-categories {
        font-size: 145%;
    }
    .channels img {
        width: 30px;
        height: 30px;
    }
    .channels a {
        padding: 7px;
    }
    .result {
        padding-top: 15px;
    }
    .result span {
        display: flow-root;
    }
    .finish-button {
        width: 20%;
    }
    .adding-recipe-form {

        margin: 10px;
        font-size: 150%;
    }
    .adding-recipe-form textarea, select, input {
        width: 100%;
    }
    .adding-recipe-form-submit-btn {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .mob-menu-list {
        right: -50%;
        width: 230px;
    }
    .block-title {
        font-size: 170%;
    }
    .block-image {
        width: 130px;
        height: 130px;
    }
    .footer {
        height: 10rem;
        grid-template-columns: 30% 55% 15%;
    }
    .footer .channels img {
        margin-top: 12px;
    }
    .recipe-text {
        padding-top: 10px;
    }
    .adding-recipe-form {
        margin: 5px;
    }
}
@media (max-width: 425px) {
    .mob-menu-list {
        width: 200px;
    }
    .adding-recipe-form {
        margin: 1px;
        width: 99%;
    }
}
@media (max-width: 400px) {
    .header-mobile {
        grid-template-columns: 20% 60% 20%;
    }
    .search-bar {
        justify-self: center;
        height: 55%;
    }
    .mob-menu-categories-list {
        right: -2%;
        width: 200px;
        margin-top: 90%;
    }
    .mob-menu-list {
        right: -10%;
    }
    .block {
        height: 100%;
        min-height: 30rem;
    }
    .block-image {
        width: 140px;
        height: 140px;
    }
}
@media (max-width: 350px) {
    .footer {
        height: 20rem;
        display: block;
    }
    .footer .logo {
        margin: 7% 40%;
    }
    .footer .channels {
        margin: 5% 21%;
    }
    .channels a {
        padding: 10px;
    }
}
@media (max-width: 270px) {
    .footer .channels {
        margin: 5% 15%;
    }
}