{% for r in recipes %}
<div class="block">
                <a href="{{ r.get_absolute_url }}" class="block-title">{{ r.title }}</a>
                <div class="block-content">
                    {% if r.photo %}
                    <img src="{{ r.photo.url }}" class="block-image" />
                    {% endif %}

                    <div class="block-categories">{{ r.cat }}</div>

                    <p>
                        {{ r.description|linebreaks|truncatewords:50 }}
                    </p>
                </div>
            </div>
{% endfor %}

<div class="paginator">
<nav>
    <ul>
        {% if recipes.has_previous %}
        <li>
            <a href="?page={{ recipes.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in recipes.paginator.page_range %}
        {% if recipes.number == p %}
        <li class="page-num-page-num-selected">
            {{ p }}
        </li>
        {% elif p >= recipes.number|add:-2 and p <= recipes.number|add:2 %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if recipes.has_next %}
        <li>
            <a href="?page={{ recipes.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
</div>

